@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

@media only screen and (max-width: 768px) {
    .download-button {
        height: 5vh;
        font-size: 1.5vw;
    }

    .download-button > img {
        width: 25px;
    }

    .navbar-brand {
        position: relative;
        right: 5vw;
    }

    .navbar-nav {
        position: relative;
        right: 5vw;
    }
}