@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'IMB Plex Sans', sans-serif;
    box-sizing: border-box;
}

.download_section {
    margin-top: 100px;
}

.versions {
    margin: 0 auto;
    width: 50%;
}

.selected {
    border-bottom: aqua 1.5px solid;
}

.selectable {
    cursor: pointer;
    border-bottom: lightslategray 1.5px solid;
}

container {
    width: 100%;
}

ul > li {
    color: white;
}

ul {
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin-top: 1rem;
}

table {
    margin: 0 auto;
    width: 75%;
}

tr:nth-child(odd) {
    background-color: #3c3c3c;
}

td {
    height: 70px;
    color: white;
}

.commits {
    display: inline-block;
    margin-top: 15px;
}

.commit_id {
    text-decoration: none;
    color: #91ffaf;
}

.commit_id:hover {
    text-decoration: underline;
    color: #91ffaf;
}

@media (max-width: 768px) {
    .versions {
        width: 80%;
    }

    table {
        margin: 0 auto;
        width: 100%;
    }

    .download_section {
        font-size: 15px;
    }

    .download {
        margin-left: 10px;
    }

    .commits {
        text-align: center;
    }

    .date {
        display: none; 
    }
}