@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

body {
    margin: 0;
}

th, td {
    color: white;
}

ul > li {
    color: white;
}

ul {
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin-top: 1rem;
}

.builds {
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    background-color: #363534;
    width: 80%;
}

.builds > li {
    padding-left: 25px;
    height: 95px;
    width: 100%;
    border-bottom: 2px solid black;
    display: table;
    flex-wrap: nowrap;
}

.builds > li > .btn {
    border-radius: 10px !important;
    position: relative;
    top: 28px;
}

.selected {
    border-bottom: aqua 1px solid;
}

.selectable {
    cursor: pointer;
}

ul[class^="changes-"] {
    justify-content: left;
    flex-direction: column;
    margin: 0;
    flex-wrap: nowrap;
    align-content: flex-start;
}

ul[class^="changes-"] > li {
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: relative;
    bottom: 3px;
    left: 38px;
    width: 75%;
}

ul[class^="changes-"] > li > a {
    text-decoration: none;
    color: #91ffaf;
    margin: 0;
}

.date {
    display: table-cell;
    float: right;
    right: 75px;
    position: relative;
    bottom: 25px;
}

.nochanges {
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    .builds {
        width: 100%;
    }

    ul[class^="changes-"] > li {
        position: relative;
        left: 30px;
        font-size: 13px;
    }

    .date {
        right: 20px;
        bottom: 28px;
        font-size: 13px;
    }

    .nochanges {
        bottom: 11px;
    }
}